/*daca citesti asta, inseamna ca in urma a multor ani de de scoala ai invatat maiastra arta a cititului caracterelor de pa ecran a.k.a "citit";*/
body{
	margin-top:-30px;
}
.collumn img{
	border-radius: 50%;
}
.s{
	text-align:center;
	color:yellow;
	font-family:cursive;
	font-size:12px;
}
#replay{
	padding-top:15px;
	margin-left:10px;
	display:none;
	}
#counter {
	text-align:center;
	color:yellow;
	font-size: 40px;
	position:inline;
}
#buttons{
	padding-top:60px;
	padding-bottom:-20px;
	margin-bottom:-20px;
	
	height:140px;
	width:120px;
	margin:auto;
	margin-top:-120px;
}
.button{
	color:white;
}
#score{
	margin-top:-20px;
	margin-bottom:-6px;
	text-align:center;
	font-size:15px;
	color:yellow;
}
#game {
	height:380px;
	width:385px;
	border:2px double;
	margin:auto;
	background-color:white;
	border-radius:10px;
	border:5px solid black;
}
.line {
	display:inline-block;
	position:relative;
	margin-left:4px;
	margin-right:4px;
	margin-top:4px;
	margin-top:4px;
	
}

#collumn{
	height:120px;
	width:120px;
	border-radius:5px;
}

/*Aranjare la fiecare poza, ffs nu umbla */
#myimage1{
	position:absolute;
	top:-8px;
}
#myimage2{
	position:absolute;
	top:116px;
}
#myimage3{
	position:absolute;
	top:240px;
}
#myimage4{
	position:absolute;
	top:-8px;
	left:116px;
}
#myimage5{
	position:absolute;
	top:116px;
	left:116px;
}
#myimage6{
	position:absolute;
	top:240px;
	left:116px;
}
#myimage7{
	position:absolute;
	top:-8px;
	left:232px;
}
#myimage8{
	position:absolute;
	top:116px;
	left:232px;
}
#myimage9{
	position:absolute;
	top:240px;
	left:232px;
}